<p>


  <!--    <nav class="nav">
   
        <a class="nav-link" routerLink="/super/superComp">Competitions</a>
      
        <a class="nav-link" routerLink="/super/superUser">Users</a>
      </nav>       -->

  <app-su-table></app-su-table>

<div [ngSwitch]="selectionService.userSwitch">
  <app-su-comp *ngSwitchCase="UserSwitch.Comp"></app-su-comp>
  <app-su-user *ngSwitchCase="UserSwitch.User"></app-su-user>
</div>
<app-new-comp-modal (refreshParent)="ngOnInit()"></app-new-comp-modal>

 <!--  <router-outlet></router-outlet> -->